.header-bg {

  width: 101.2%;
  margin-left: -8px;
  }
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
   margin-top: -10px;
   background-color: black;
  
   
  }
  .border1{
    padding: 10px;
    background-color: white;
    box-shadow: 4px 4px 4px 4px ;
    border-radius: 20px;
    width: 68%;
  }
  
  .cabecalho nav li a:hover{
    background-color: purple;
  
  }
  .img2{
    width: 270px;margin-top: -11px;
    margin-left: -10px;
    height: 210px;
    border-radius: 20px;
   margin-right: -10px;
  }
  
  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding-right: 20px;
    
   
  }

  .conte{
    text-align: center;
  }
.img{
  width: 200px;
}
.para{
  font-size: 15px;
}
.div{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr ;
  gap: 50px;
  margin-right: 10px;
}
 
  .grid1{
    display: grid;
    grid-template-columns: 300px 200px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }
  .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    background-color: rgb(169, 139, 240);
    height: 200px;
  }
  
  .pg{
    color: white;}
  
  
  
  
  
  
  
  
  
  
  a{
    text-decoration: none;
  }
  
  
    .fonte{
      color: white;
      padding-top: 50px;
      font-size: 30px; padding-left: 20px;
    }
   
    
    .happy{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
   
   
    
    
    .grid1{
      display: grid;
      grid-template-columns: 300px 200px;
    }
   
  
  
    
    .logo{
      height: 60px;
      opacity: 0.5;
      margin-top:-20px ;
    }
    
  
    .logo1{
      width: 30%;
    }
    .font2{
      color: aliceblue;
    }
    .pg{
      font-size: 15px;
      margin-left: -20px;
    }
    .grid2{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
    }
    
    .logo12{
      width: 14%;
    padding-left:20px ;
    }
    .pg{
      color: white;
    }
    .border1:hover{
      background-color: blue;
    }
 
    .logo2{
     width: 30%;
    }
    .cabecalho{
      display: flex;
     justify-content: space-between;
     padding: 30px;
    
   
    }
    .cabecalho .logo{
      width: 55px;
    }
    .cabecalho .menu{
    
      display: flex;
      
      align-items: center;
    
    }
    
    .cabecalho nav li a{
      font-weight: bold;
      color: white;
      font-size: 25px;
      padding: 10px 20px;
      border-radius: 50px;
      transition: 0.3s;
    }
    .cabecalho nav li a:hover{
      background-color: purple;
    
    }
    body{
      background-color: rgba(128, 0, 128, 0.575);
    }
    header{
      background-color: black;
    margin-left: -8px;
    width: 96.5vw;margin-top: -10px;
    height: 30px;
   
    }
    .cabecalho{
      display: flex;
     justify-content: space-between;
     padding: 30px;
     max-width: 1440px;
     margin: 0 auto;
     margin-left: -8px;
     width: 93.96vw;
     margin-top: -20px;
    }
    .cabecalho .logo{
      width: 55px;
    }
    .cabecalho .menu{
    
      display: flex;
      
      align-items: center;
      height: 100%;
    }
    
    .cabecalho nav li a{
      font-weight: bold;
      color: white;
      font-size: 25px;
      padding: 10px 20px;
      border-radius: 50px;
      transition: 0.3s;
    }
    .cabecalho nav li a:hover{
      background-color: purple;
    
    }
    li,a{text-decoration: none;}
    .grid3{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      background-color: black;
      color: white;
      margin-left: -8px;
      padding-left: 20px;
    gap: 30px;
    }
    .logo12{
      padding-top: 20px;
      width: 25%;
      padding-left: 20px;
    }
  
  .logo12{
    padding-top: 20px;
    width: 25%;
    padding-left: 20px;
  }
  #footer li{
    margin-left: -25px;
  }
  footer{
    width: 98.5vw;
    margin-bottom: -20px;
    margin-top: 100px;
  }
    
  
  .fundo-video{

    position: absolute;
    z-index: -1;
    width: 99vw;
    height: 9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-left: -8px;
   }
   .fundo-video .video{
    height: 300px;
   width: 100vw;
   }
   .fundo-video::after{
    content: "";
   
    height: 99vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.413)8%, rgba(0,0,0,0.8)50%, rgba(0, 0, 0, 0.496)95% );
  
   }
  
   @media(min-width:300px) and ( max-width:511px){
    .div{
      display: grid;
     grid-template-columns: 1fr;
      padding-left: 30px;
    }
    .logo{
      display: none;
    }
    .grid2{
      display: grid;
      grid-template-columns: 1fr;
    }
    .van{
      display: none;
        }
    
        
       .happy1{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
       }
       .imga{
        height: 590px;
        
       }
       .logo{
       display: none;
       
       }
       .header-menu{
        font-size: 20px;
        margin-top: -10px;
        padding-top: -30px;
       }
       li{
        font-size: 20px;
        display: flex;
        flex-direction: row;
       }
       ul{
        display: flex;
        flex-direction: row;
        font-size: 30px;
       }
       .grid1{
        display: grid;
        grid-template-columns: 1fr;
       }
       .grid2{
        display: grid;
        grid-template-columns: 1fr;
     
       }
       .grid{
        display: grid;
        grid-template-columns: 1fr;
       
       }
       .bg{
        display: grid;
        grid-template-columns: 1fr;
       }
       .happy{
        display: grid;
        grid-template-columns: 1fr;
       }
       .gf{
        width: 300px;
        padding-left: 30px;
       }
       .gf1{
        padding-left: 50px;
       }
      p{
        padding-left: 5px;
      }
      .a{
        padding-top: 30px;
      }
      .header{
        width: 100vw;
      }
      .cabecalho nav li a{
        font-size: 9px;
        padding: 10px;
        display: flex;
    
      
      
      }
      .cabecalho{
        margin-left: -100px;
        padding: 0px;
      }
      .grid3{
        display: grid;
        grid-template-columns: 1fr;
      }
   
  }
  
  
  
  
  
  
  
  
  