#foote{
    margin-top: 400px;
}
.clientes2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
img{
    width: 820%;
}
@media( min-width: 300px)and (max-width:500px){
    #footer,.grid3{
        display: grid;
        grid-template-columns: 1fr;
    }
    .clientes2{
        display: grid;
        grid-template-columns: 1fr;
    }
    .header-menu{
        font-size: 20px;
        margin-top: -10px;
        padding-top: -30px;
       }
       li{
        font-size: 20px;
        display: flex;
        flex-direction: row;
       }
       ul{
        display: flex;
        flex-direction: row;
        font-size: 30px;
       }
}