.h1{
  text-align: center;
  color: rgb(3, 3, 108);
}
body{
  background-color: purple;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img{
  width: 50%;
 
 height: 340px;
 margin-left: 290px;
}.cabecalho{
  display: flex;
 justify-content: space-between;
 padding: 30px;
 max-width: 1440px;
 margin: 0 auto;
 margin-left: -8px;
 width: 93.82vw;
 margin-top: -20px;
}
.cabecalho .logo{
  width: 55px;
}
.cabecalho .menu{

  display: flex;
  
  align-items: center;
  height: 100%;
}

.cabecalho nav li a{
  font-weight: bold;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.3s;
}
.cabecalho nav li a:hover{
  background-color: purple;

}
header{
  background-color: black;
  width: 9vw;
}
header a, ul ,li{
  list-style: none;
  text-decoration: none;
}
.container{
  background-color: rgb(65, 65, 65);
  padding: 10px;
  border-radius: 50px;margin-top: 20px;
}
p{
  color: white;
}
#p li,ul{
  list-style: circle;
}