
p{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;padding-left: 20px;
  padding-top: 20px;
} .grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  color: white;
  margin-left: -8px;
  padding-left: 20px;
gap: 30px;
}body{
  font-family: 'Poppins';
}
.cabecalho{
  display: flex;
 justify-content: space-between;
 padding: 30px;
 max-width: 1440px;
 margin: 0 auto;
 margin-left: -8px;
 width: 93.96vw;
 margin-top: -20px;
 
}
.cabecalho .logo{
  width: 55px;
}
.cabecalho .menu{

  display: flex;
  
  align-items: center;
  height: 100%;
}

.cabecalho nav li a{
  font-weight: bold;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.3s;
}
.cabecalho nav li a:hover{
  background-color: purple;

} .fundo-video{

  position: absolute;
  z-index: -1;
  width: 98.74vw;
  height: 99vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-left: -7.8px;
 }
 .fundo-video .video{
  height: 100vh;
 width: 100vw;
 }
 .fundo-video::after{
  content: "";
 
  height: 99vh;
  width: 99vw;
  position: absolute;
  top: 0;
  left: 0;

background: linear-gradient(90deg,rgb(86, 1, 132)8%, rgba(104, 1, 173, 0.8)50%, rgb(67, 0, 111)825% );
 }
.mario{
  width: 99vw;
}
  .grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white;
    margin-left: -8px;
    padding-left: 20px;
  gap: 30px;
  }
  .logo12{
    padding-top: 20px;
    width: 25%;
    padding-left: 20px;
  }

.logo12{
  padding-top: 20px;
  width: 25%;
  padding-left: 20px;
}
#footer li{
  margin-left: -25px;
}
footer{
  width: 98.1vw;
  margin-bottom: -20px;
}
.flex{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header {

  background: #000000;
  position: fixed;
 
top: 0;
 }
 
 header, nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
 }
 
 nav ul li {
  margin-left: 1rem;
 }
  .margin{
    margin-bottom: 100px;
    color: black;
  }
  a,ul,li{
    text-decoration: none;
    list-style: none;
  }
  .para{
    color: black;
  }
  .img2{
    width: 99%;
    border-radius: 20px;margin-top: 20px;
  }
.img1{
  width: 99%;
  height: 300px;
  border-radius: 20px;
  margin-right: 20px;
}
 
.back{
  background-color: rgb(136, 0, 255);
  width: 101.2%;
  margin-left: -10px;
  padding-top: 20px;
color: white;
}
.img3{
  width: 99%;
  height: 400px;
}
.margin1{
  margin-top: 140px;padding-bottom: 30px;
  margin-left: -20px;
  
}.cabecalho{
  display: flex;
 justify-content: space-between;
 padding: 30px;
 max-width: 1440px;
 margin: 0 auto;
 margin-left: -8px;
 width: 93.96vw;
 margin-top: -20px;
}
.cabecalho .logo{
  width: 55px;
}
.cabecalho .menu{

  display: flex;
  
  align-items: center;
  height: 100%;
}

.cabecalho nav li a{
  font-weight: bold;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.3s;
}
.cabecalho nav li a:hover{
  background-color: purple;

}
.center{
  text-align: center;
 color: white;
}
body{
  background-color: purple;
  
}
.centere{
  padding-left: 50px;
  color: white;
}
.img{
  width: 8%;padding-left: 20px;
}
.flex1{
  display: flex;
 gap: 40px;
  margin-left: 40px;
  
}
.img2{
  width: 260px;margin-top: -11px;
  margin-left: -11px;
  height: 180px;
}
.boder{
  border: 1px solid white;width:20%;
  padding: 10px;
  background-color: white;
  box-shadow: 10px 10px 10px 10px ;
  border-radius: 20px;
justify-content: center;
}
.button{
  align-items: center;
  background-color: red;
  border-color: red;
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin-left: 500px;margin-top: 20px;
  font-size: 2.5rem;
}
.button:hover{
  background-color: blue;
  border-color: blue;
}
  @media( min-width: 300px)and (max-width:500px){
 
 

    .cabecalho nav li a{
      font-size: 9px;
      padding: 10px;
      display: flex;
  
    
    
    }
    .cabecalho{
      margin-left: -100px;
      padding: 0px;
    }
  .fundo,.fle,.fundo{
    display: flex;
  flex-direction: column;
  }
  .imf2{
    margin-top: 200px;
  }
  .imf4{
    margin-left: 50px;
  }
  .fundo{
    height: 2000px;
  }
  }