.mp{
    padding-left: 30px;
    padding-right: 30px;
}
    
p{
    text-align: start;
    justify-content: flex-start;
    font-size: 25px;
}
span{
    font-weight: bold;
}
h1{
    font-size: 35px;
}
.img12{
    height: 300px;
    width: 100%;
}
.bacfe{
   background: radial-gradient(purple black);
    color: rgb(0, 0, 0);
}
@media(max-width:500){
    .mp{
        margin-left: 0px;
        margin-right: 0px;
        width: 30%;
    }
}