p{
  color: black;
}
.sobre{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10PX;
}
h1{
  color: black;
}
.paragrafo{
  font-size: 1.5rem;
  margin-left: -20PX;
 
 
}
.fonte3{
  color: white;
}
.gray{
  background-color: rgb(136, 0, 255);
  width: 101.2%;
  margin-left: -10px;
  padding-top: 20px;
color: white;
}
.calendar{
  width: 85%;
  border-radius: 30px;
}

.header-menu{
  display: flex;
  margin-bottom: 0px;
}
.center{
  text-align: center;
}
.flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.logo3{
  width: 30%; position: relative;

}
.purple{
  background: url(imgs/abs.jpg) center right;
  width: 99vw;
  margin-left: -11px;
  height: 350px;
  margin-bottom: -20px;
}.h2{
  color: white;padding-top: 20px;
}
.icone{
  width: 67%;
  padding-left: 30px;
 
}
.nb{
  background-color: rgb(61, 3, 106);
 width: 50%;height: 150px;
 margin-left: 20px;
 border-radius: 40px;

}
.nb:hover{
  border: 8px solid purple;
}
.solution{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 2.2rem;
  margin-top: -1px;padding-top: 20px;padding-left: 20px;
}
.img{
  width: 55%;
}
.button121{
  background: black;
  color: white;
  margin-left: 500px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  }

  .button121:hover{
    background: purple;
    border-color: purple;}
    .grid2{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    .logo12{
      padding-top: 20px;
    }
    footer{
     margin-bottom: -20px;
    }
    .linha{
      display: grid;
      grid-template-columns: 1fr 1fr ;
    }
     
    .linha h1{
      padding-left: 150px;
    }
    .linha img{
      width: 40%;
      padding-left: 90px;
    }
    video{
    width: 94%;
    padding-left: 20px;
    }
    .paragrafo12{
      font-size: 1.2rem;
      font-weight: bold;
    }
@media (min-width:300px) and (max-width:500px){
  *{
    margin-left: 0px;
  }
  
  .sobre{
    display: flex;
   flex-direction: column;
  }
  li{
    font-size: 13px;
  }

  .img1{
    width: 93vw;
  }
  header{
    width: 99vw;
  }
  .paragrafo{
    margin-left: -120px;
  

  }
.imga1{
  height: 290px;
  width: 99vw;
}
.flex{
  display: flex;
  flex-direction: column;
}
.nb{
  margin-top: 50px;
}
.purple{
  height: 780px;
}
.solution{
  margin-top: 20px;
}

}
