*{
    margin: 0px;
    padding: 0px;
}
body{
 
    color: white;
}
.cabecalho{
    display: flex;
   justify-content: space-between;
   padding: 30px;
   max-width: 1440px;
   margin: 0 auto;
  }
  .cabecalho .logo{
    width: 55px;
  }
  .cabecalho .menu{
  
    display: flex;
    
    align-items: center;
    height: 100%;
  }
  
  .cabecalho nav li a{
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.3s;
  }
 

ul{
    text-decoration: none;
}

.cabecalho{
    display: flex;
   justify-content: space-between;
 color: black;
   margin: 0 auto;
  }
  .cabecalho .logo{
    width: 55px;
  }
  .cabecalho .menu{
  gap: 20px;
    display: flex;
    position: relative;
    margin-bottom: -200px;
    align-items: center;
    

}
  
 

.bacd{
    background-color: black;padding-left: 20px;
    margin-top: 200px;
}

footer{
    margin-top: 1px;
    display: flex;
    background-color: black;
    padding: 20px;
}

.foiuter{
    display: flex;
    gap: 20px;
    padding-left: 20px;
}
.fundo-video{

    position: absolute;
    z-index: -1;
    width: 98.75vw;
    height: 99vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
   }
   .fundo-video .video{
    height: 99vh;
   width: 99vw;
   }
   .fundo-video::after{
    content: "";
   
    height: 98.75vh;
    width: 98.75vw;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 5200px;
  
  background: linear-gradient(90deg,rgba(0,0,0,1)0%, rgba(0,0,0,0.8)0%, rgba(0,0,0,1)1120% );
  
   }
   

.ft{
    font-size: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

.fte{
    position: fixed;
    top: 590px;
    right: 20px;
    cursor: pointer;
    width: 4%;
}
.grid33{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.ftr{
    width: 90%;padding-left: 20px;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
}
.fundo{
    background-color:#c0f420 ;
    color: black;
    text-align: center;
}
.button{
    margin-top: 10px;
    padding: 10px;
   
    background-color: #121212;
    color: white;
    border-color: #121212;
}
.align{
    position: absolute;
   z-index: 1;
    padding-left: 1000px;
    
}
a{
    color: #121212;
}
a{
    text-decoration: none;
}
/* Media queries para telas menores */
@media only screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    .cabecalho .menu {
        margin-top: 20px;
    }
    
    .cabecalho nav li a {
        font-size: 20px;
        padding: 8px 15px;
    }
    
    .ft {
        font-size: 40px;
    }
}

@media only screen and (max-width: 480px) {

    *{
        padding: 0px;
    }
    .cabecalho {
        padding: 15px;
    }
    .cabecalho.menu{
        height: 50px;
    }
    
    .cabecalho .logo {
        width: 40px;
    }
    
    .cabecalho nav li a {
        font-size: 18px;
    }
    
    .ft {
        font-size: 30px;
    }
    .grid33{
        margin-top: 50px;
    }
}

@media (min-width: 1390px) {
    ul{
        list-style: none;
    }
    .cabecalho {
        padding: 20px;
    }

    .cabecalho nav li a {
        font-size: 20px;
        padding: 10px 15px;
    }
    .bacd{
        margin-top: 403px;
    
    }
    .fundo-video{
        width: 99vw;
      
    }
    .fundo-video::after{
        width: 100vw;
       height: 100vw;
    }
    footer{
        margin-bottom: -2500px;
    }
    .button{
        margin-left: -900px;
    }
    .align{
        padding-left: 180px;
    }
    .fte{
        top: 880px;
    }
    .ft{
        padding-top: 80px;
        font-size: 90px;
        padding-left: 90px;
    }
}