body{
  font-family: 'Poppins';
}
.cabecalho{
  display: flex;
 justify-content: space-between;
 padding: 30px;
 max-width: 1440px;
 margin: 0 auto;
}
.cabecalho .logo{
  width: 55px;
}
.cabecalho .menu{

  display: flex;
  
  align-items: center;
  height: 100%;
}

.cabecalho nav li a{
  font-weight: bold;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.3s;
}
.cabecalho nav li a:hover{
  background-color: purple;

}
.container{
  max-width: 1020px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  height: calc(100vh - 132px);
  padding: 0px 30px 30px;
}
.container .imagem-titulo{
  max-width: 500px;
}
.container .descricao{
  color: #a8adb7;
  width: 82%;
  font-size: 18px;
  margin:30px 0px ;
}
.container .butao-trailer{
  background-color: purple;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: 0.5s all ease-in-out;
}
 .fundo-video{

  position: absolute;
  z-index: -1;
  width: 98.7vw;
  height: 99vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
 }
 .fundo-video .video{
  height: 100vh;
 width: 100vw;
 }
 .fundo-video::after{
  content: "";
 
  height: 99vh;
  width: 99vw;
  position: absolute;
  top: 0;
  left: 0;

background: linear-gradient(90deg,rgba(0,0,0,1)8%, rgba(0,0,0,0.8)50%, rgba(0,0,0,1)95% );

 }
 
 .container .butao-trailer:hover{
  transform: scale(1.1);
 }
 


 h3{
  color: blueviolet;
 }
 .grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .espacamento{
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
 }

.man{
  width: 80%;
  padding-top: 20px;
margin-left: 100px;
border-radius: 35px;
}

.bu{
  background-color: purple;
  color: white;
  padding: 13px;
  border-color: purple;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 4px;
}
.bu:hover{
  background-color: red;
  border-color: red;
}
.fundo{
  background: url(../imgs/13167.jpg);
  background-image: url(../imgs);
}