
 

@media( min-width: 300px) and (max-width:500px) {
 
 

  .cabecalho nav li a{
    font-size: 9px;
    padding: 10px;
    display: flex;

  
  
  }
  .cabecalho{
    margin-left: -100px;
    padding: 0px;
  }
.fundo,.fle,.fundo{
  display: flex;
flex-direction: column;
}
.imf2{
  margin-top: 200px;
}
.imf4{
  margin-left: 50px;
}
.fundo{
  height: 2000px;
}
.grid{
  display: flex;
  flex-direction: column-reverse;
}
#carouselExampleControlsNoTouching{
  display: none;
}
.man{
  margin-left: 5px;
  height: 200px;
}
.grid3
{
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;
}
}