@media(max-width:1200px){

  .container{
    flex-wrap:  wrap;
    justify-content: center;
    height: auto;
  }
  .container .mario{
    max-width:99%;
  }
  .container .informacoes{
  display: flex;
  align-items: center;
  flex-direction: column;
  }
  .container .descricao{
    color: white;
    text-align: center;
  }
  }
 
  @media(max-width:500px){
    *{
      margin: 0px;
      padding: 0px;
    }
  
  }

@media( min-width: 300px){
 
 

  .cabecalho nav li a{
    font-size: 9px;
    padding: 10px;
    display: flex;

  
  
  }
  .cabecalho{
    margin-left: -100px;
    padding: 0px;
  }
.fundo,.fle,.fundo{
  display: flex;
flex-direction: column;
}
.imf2{
  margin-top: 200px;
}
.imf4{
  margin-left: 50px;
}
.fundo{
  height: 2000px;
}
.grid{
  display: flex;
  flex-direction: column-reverse;
}
#carouselExampleControlsNoTouching{
  display: none;
}
.man{
  margin-left: 5px;
  height: 200px;
}
.grid3
{
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;
}
}